<style>
    table tr td{
        text-align : left;
        padding-right:30px

    }
</style>
<h3>Notice</h3>
<div class="services index">

	<table cellpadding="0" cellspacing="0" >
    <tr>
        	<td>Subject:</td><td><?php echo $notice['Notice']['subject']; ?>&nbsp;</td>
    </tr>
	<tr>
    		<td>Sent On:</td><td><?php echo $notice['Notice']['sent_on']; ?>&nbsp;</td>
    </tr>
	<tr >
	    <td >Notice:</td><td><?php echo $notice['Notice']['notice']; ?>&nbsp;</td>
	</tr>


	</table>



</div>
