.li_selected{
    background: rgba(91, 134, 200, 0.94) !Important;
}

.li_selected a{
    color:#fff !important;
}
.cancel_submit{
    margin-left:5%;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 109;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.html_button
    {
        width:120px;
        text-align:center;
        font-weight:200;
        padding:1px 5px 1px 5px;
    	font-family:"frutiger linotype", "lucida grande", "verdana", sans-serif ;
    	background:#e6e49f;
    	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
    	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
    	border-top: 1px solid #aaac62;
        border-left: 1px solid #aaac62;
        font-size: 11px;
    	color: #000;
    	border-radius: 5px;
        height: 25px;
        margin-left:5%;
    }
.hover_color
{
	background-color:#FFC20E !important;
}  

h2{
	font-family:Arial, Helvetica, sans-serif!important;
}

.clr{
	clear:both;
}

.form_div_css{
	float:left !important;
	margin-left:2% !important;
	clear:none !important;
}

.form_div_select_css{
	width:20% !important;
	float:left !important;
	margin-left:2% !important;
}

.newTbl-class-1 tr td{
	/*border:solid #000 1px;*/
	/*width:60px!important;*/
}

.newTbl-class-1 tr td label{
     margin-right:0!important;
     padding-right:0!important;
     margin-top:-31px;
     margin-left: 10px!important;
 }
.newTbl-class-1 tr td .radio label{
    margin-right:0!important;
    padding-right:0!important;
    margin-top:-31px;
    margin-left: 54px!important;
}

.newTbl-class-3 tr td label{
	margin-right:0!important;
	padding-right:0!important;
	/*float:right;*/
	/*margin-top:-31px;*/
}

.newTbl-class-1 tr td input[type="radio"] {
	/*float:right!important;*/
}


.txtAra textarea{
	width:300px!important;
	/*float:right;*/
}

.newTbl-class-2{
	font-size:11px!important;
	}

 .redioText{
     font-size:11px;
 }

.redioText label {
    margin-left: 0 !important;
    margin-right: 130px;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 36px;
    padding-top: 0 !important;
    text-align: left;
    width: 90px !important;
}

select {
    clear: both;
    font-size: 100%;
    height: 25px;
    margin-top: 7px;
    vertical-align: text-bottom;
    width: 42%;
}

label {
    margin-top:10px;
    display: block;
    float: left;
    font-size: 112%;
    margin-bottom: 3px;
    width: 40%;
}

input, textarea {
    float: left;
    font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 1em;
    margin-top: 7px;
    padding: 0.6%;
    text-align: justify;
    width: 50%;
}

input[type="radio"] {
    color: #44ff00;
    float: left;
    margin: 3px 1px 15px 0;
    text-align: center;
    text-indent: 40px;
    /*width: auto;*/
    display      : inline-block;
}

table tr td {
    background: #fff;
    /*padding: 3px;*/
    line-height: 1.8em;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}


form div{
	padding:0!important;
}


div .simon-1 table tr td{
	vertical-align:top!important;
	font-size:12px;
}

div .simon-1 table tr td label{
	width:125px!important;
	text-align:left!important;
	margin-top:0!important;
}
div .simon-1 table tr td input{
	width:200px!important;
	margin-top:-4px!important;
}

div .simon-1 table tr td input[type="radio"]{
	margin:0!important;
}

div .simon-2 table tr td input{
	width:40px!important;
}

div .simon-2 table tr td label{
	width:110px!important;
	text-align:left!important;
	margin-top:-5px!important;
}


div .simon-3 table tr td label{
	width:60px!important;
	text-align:left!important;
	margin-top:-5px!important;
}


div .simon-3 table tr td select{
	margin-top:-7px!important;
	width:99px;
	margin-left:-50px!important;
}

div .simon-4 table tr td label{
	width:125px!important;
	text-align:left!important;
	margin-top:-5px!important;
	font-size:12px;
}


div .simon-4 table tr td select{
	margin-top:-7px!important;
	width:180px;
	margin-left:-400px!important;
}


div .simon-5 table tr td label{
	width:115px!important;
	text-align:left!important;
	margin-top:1px!important;
}
